body {
  font-family: sans-serif;
  margin: auto;
  

  background: linear-gradient(45deg, black, rgb(59, 156, 117), rgb(4, 116, 64), black);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 5s ease-in-out infinite;
}

@keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}

}

* {
  box-sizing: border-box;
}

a {
  color: #2F5597; 
  text-decoration: none;
}

a:hover {
  color: #636e72;
}

.toast-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  color: black;
  overflow-x: hidden;
  right: 70%;
  min-width: 500px;
  text-align: center;
}

button{
  background-color: #047440;
}
button:hover{
  background-color: #0a2b1b;
}

@media (max-width: 768px) {
  .toast-container {
    width: 90%;
  }
}