.container-actualizarStock{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-subb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    background-color: #dedede;
    padding: 0.5em;
    border-radius: 1em ;
    box-shadow: 2px 2px 4px 1px;
}

.boton-escanear{
    background-color: #047440;
    margin-top: 1em;
}
.boton-escanear:hover{
    background-color: #1b2420;
    transition: 0.1s;
}

.custom-toast{
    min-width: 500px;
}