.container-misProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em; 
}

.productos-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,300px));
    gap: 1em;
}

.producto-card{
    max-width: 13em;
    min-height: 8em;
}

h2{
    margin: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

strong {
    color: #e17055; 
}

.btn-back{
    background-color: #efefef;
    min-width: 200px;
    color: #222;
}
  
.btn-back:hover{
    color: #efefef ;
    transition: 0.2s;
    background-color: #047440;
}

@media (max-width:700px){
    .productos-grid{
        grid-template-columns: repeat(2,minmax(160px,1fr));

    }
}

@media (max-width:500px){
    .productos-grid{
        grid-template-columns: repeat(1,minmax(100px,1fr));

    }
}
